WcfServiceClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60012/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60012/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60012/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:60012/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStream" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreamResponse" />
  </wsdl:message>
  <wsdl:message name="RequestFileMessage">
    <wsdl:part name="parameters" element="tns:RequestFileMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseFileMessage">
    <wsdl:part name="parameters" element="tns:ResponseFileMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseFileMessage_Headers">
    <wsdl:part name="description" element="tns:description" />
    <wsdl:part name="nazwa2" element="tns:nazwa2" />
    <wsdl:part name="rozmiar" element="tns:rozmiar" />
  </wsdl:message>
  <wsdl:message name="ResponseFilePathMessage">
    <wsdl:part name="parameters" element="tns:ResponseFilePathMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseFilePathMessage_Headers">
    <wsdl:part name="description" element="tns:description" />
    <wsdl:part name="name" element="tns:name" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFile_OutputMessage" />
  <wsdl:message name="RequestPathMessage">
    <wsdl:part name="parameters" element="tns:RequestPathMessage" />
  </wsdl:message>
  <wsdl:message name="RequestPathMessage_Headers">
    <wsdl:part name="descriptionFile" element="tns:descriptionFile" />
    <wsdl:part name="name" element="tns:name" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFile2_OutputMessage" />
  <wsdl:message name="IService1_ShowFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowFile" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileLocationOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLocationOnServer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileLocationOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLocationOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileLenght_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLenght" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileLenght_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLenghtResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStream" message="tns:IService1_GetStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStreamResponse" message="tns:IService1_GetStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadFile" name="RequestFileMessage" message="tns:RequestFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadFileResponse" name="ResponseFileMessage" message="tns:ResponseFileMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadFile" name="ResponseFilePathMessage" message="tns:ResponseFilePathMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadFileResponse" message="tns:IService1_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadFile2" name="RequestPathMessage" message="tns:RequestPathMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadFile2Response" message="tns:IService1_UploadFile2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowFile" message="tns:IService1_ShowFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowFileResponse" message="tns:IService1_ShowFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilesList" message="tns:IService1_GetFilesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilesListResponse" message="tns:IService1_GetFilesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileLocationOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFileLocationOnServer" message="tns:IService1_GetFileLocationOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFileLocationOnServerResponse" message="tns:IService1_GetFileLocationOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileLenght">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFileLenght" message="tns:IService1_GetFileLenght_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFileLenghtResponse" message="tns:IService1_GetFileLenght_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStream">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadFile" style="document" />
      <wsdl:input name="RequestFileMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseFileMessage">
        <soap:header message="tns:ResponseFileMessage_Headers" part="description" use="literal" />
        <soap:header message="tns:ResponseFileMessage_Headers" part="nazwa2" use="literal" />
        <soap:header message="tns:ResponseFileMessage_Headers" part="rozmiar" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadFile" style="document" />
      <wsdl:input name="ResponseFilePathMessage">
        <soap:header message="tns:ResponseFilePathMessage_Headers" part="description" use="literal" />
        <soap:header message="tns:ResponseFilePathMessage_Headers" part="name" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile2">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadFile2" style="document" />
      <wsdl:input name="RequestPathMessage">
        <soap:header message="tns:RequestPathMessage_Headers" part="descriptionFile" use="literal" />
        <soap:header message="tns:RequestPathMessage_Headers" part="name" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowFile">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileLocationOnServer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFileLocationOnServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileLenght">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFileLenght" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60012/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>